name: Build
on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: Build and sonar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # brukes for å unngå feil i differ i sonar
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Bygg (dependabot)
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn verify --settings .m2/maven-settings.xml --file pom.xml
      - name: Bygg og SonarCloud
        if: github.event.pull_request.user.login != 'dependabot[bot]'
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_PROJECTKEY: ${{ secrets.SONAR_PROJECTKEY }}
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
        run: mvn verify --settings .m2/maven-settings.xml --file pom.xml
        #run: mvn verify sonar:sonar --settings .m2/maven-settings.xml --file pom.xml
